.center-text {
    text-align: center;
}

.social-icon-medium {
    font-size: 2em;
}

.social-icon-large {
    font-size: 3em;
}

.social-color-facebook {
    color: #3B5998;
}

.social-color-google {
    color: #DD4B39;
}

.social-color-twitter {
    color: #4099FF;
}

.social-color-youtube {
    color: #C4302B;
}
