.news-thumbnail {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-main-image {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-divider {
    background-color: $daggers-blue;
    color: $white;
}

.card-divider > a{
    color: $white;
}

.footer {
    font-size: 10pt;
    text-align: center;
    padding: 5px;
}

.footer-link {

}