.nav-image {
    width: 5em;
    height: auto;
}

.club-nav > li > a {
    color: $white;
}

.top-bar {
    margin-bottom: 2em;
    background-color: #A95;
    padding: 0;

    .menu {
        background-color: #A95;
    }
}

.logo-bar {
    background-color: #d6334a;
    //width: 100%;
    //overflow: auto;
    margin: 0px;

    background-image: url("https://daggers.storage.googleapis.com/images/header-bg.jpg"); // Hardcoded to Prod URL
    background-repeat: repeat;
}

.nav-banner {
    width: auto;
    max-height: 160px;
}
