// Restrain the height of the preview image...
.news-image-preview {
    max-height: 250px;
}

//...and the list of images, since we could have a long list
#imageList .callout {
    max-height: 300px;
    overflow-y: scroll;
}

// Force the scrollbar to appear in the image list, since OSX hides it
#imageList::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#imageList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
