.player-thumbnail {
    height: auto;
    width: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.player-portrait {
    height: auto;
    width: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}
