// TODO: Fill out these styles
.player-image {
    width: 200px;
}
.player-thumbnail {}
.player-label {
    font-weight: bold;
}
.player-data {}
.player-summary-position {
    font-style: italic;
}
.player-detail {}
